version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "develop"
    open-pull-requests-limit: 4
    labels:
      - "dependencies"
      - "github_actions"
    commit-message:
      prefix: "chore"
      include: "scope"

  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "develop"
    open-pull-requests-limit: 4
    labels:
      - "dependencies"
      - "java"
    commit-message:
      prefix: "chore"
      include: "scope"

  - package-ecosystem: maven
    directory: "/examples/junit-sample"
    schedule:
      interval: "daily"
    target-branch: "develop"
    open-pull-requests-limit: 4
    labels:
      - "dependencies"
      - "examples"
    commit-message:
      prefix: "chore"
      include: "scope"

  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "develop"
    open-pull-requests-limit: 4
    labels:
      - "dependencies"
      - "docker"
    commit-message:
      prefix: "chore"
      include: "scope"
