version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "develop"
    open-pull-requests-limit: 4

  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "develop"
    open-pull-requests-limit: 4

  - package-ecosystem: maven
    directory: "/examples/junit-sample"
    schedule:
      interval: "daily"
    target-branch: "develop"
    open-pull-requests-limit: 4
