<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="io.netty" level="warn" />
        <Logger name="httpclient.wire" level="warn" />
        <Logger name="org.apache" level="warn" />
        <Logger name="io.gatehill.imposter" level="trace" />
    </Loggers>
</Configuration>
